<div class="row">
	<div class="col-1">
	</div>
	<div class="col-10">
<h1> Новая статья </h1>

<%= form_for :article, url: articles_path do |f| %>

	<div class="col-5">
	<input class="form-control"  placeholder="Заголовок"<%= f.text_field :title %>
	</div>
	
	<p>
		 <div class="col-5">
			 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" 
			 placeholder="Текст поста" <%= f.text_field :text%></textarea>
		</div>
		
	</p>

	<p>

		<button type="f.submit" class="btn btn-secondary">Отправить</button>
	</p>
	
<% end %>

</div>
