  <div class="row">
    <div class="col">
    </div>

    <div class="col-10">
    <div class="row">
    <div class="col">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare bibendum lectus eu consequat. Proin pharetra orci vel dui tristique pulvinar. Duis nulla eros, iaculis at accumsan accumsan, vestibulum id tellus. Mauris mattis tortor at sapien vulputate consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. In ut malesuada nunc. Aliquam at lacinia velit. Praesent eleifend viverra augue et rutrum. Nulla gravida sagittis mauris, ut consectetur ante tincidunt non. Sed ut scelerisque turpis. Vivamus venenatis fringilla leo a gravida. Ut a neque non sem tristique gravida.




    </div>
    <div class="col">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare bibendum lectus eu consequat. Proin pharetra orci vel dui tristique pulvinar. Duis nulla eros, iaculis at accumsan accumsan, vestibulum id tellus. Mauris mattis tortor at sapien vulputate consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. In ut malesuada nunc. Aliquam at lacinia velit. Praesent eleifend viverra augue et rutrum. Nulla gravida sagittis mauris, ut consectetur ante tincidunt non. Sed ut scelerisque turpis. Vivamus venenatis fringilla leo a gravida. Ut a neque non sem tristique gravida.




    </div>
    <div class="col">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare bibendum lectus eu consequat. Proin pharetra orci vel dui tristique pulvinar. Duis nulla eros, iaculis at accumsan accumsan, vestibulum id tellus. Mauris mattis tortor at sapien vulputate consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. In ut malesuada nunc. Aliquam at lacinia velit. Praesent eleifend viverra augue et rutrum. Nulla gravida sagittis mauris, ut consectetur ante tincidunt non. Sed ut scelerisque turpis. Vivamus venenatis fringilla leo a gravida. Ut a neque non sem tristique gravida.




    </div>
  </div>

    </div>
    <div class="col">

</div>


      <div class="ots">
        <p>sdasd</p>
      </div>

      <div class="row">
        <div class="col-1">
        </div>
         <div class="col-5">
          Suspendisse dictum imperdiet ante, vitae feugiat dolor fringilla id. In hac habitasse platea dictumst. Pellentesque ac neque sed odio pretium dignissim. Vestibulum cursus velit nec rutrum condimentum. Aliquam erat volutpat. Nam iaculis consequat pretium. Vivamus non augue sed est iaculis mollis at non dolor. Mauris euismod, odio id aliquet pharetra, tortor nunc imperdiet quam, sit amet ultricies felis quam id mi. Donec id porta nibh, non tincidunt orci. Donec aliquet sapien quis velit hendrerit tincidunt. Quisque tincidunt turpis dapibus nisl pulvinar porttitor. Nullam volutpat, erat ac pharetra sagittis, nisl elit accumsan orci, vitae vulputate nisi orci quis turpis. Maecenas euismod tortor a faucibus tincidunt.
         </div>
         <div class="col-5">
          Suspendisse dictum imperdiet ante, vitae feugiat dolor fringilla id. In hac habitasse platea dictumst. Pellentesque ac neque sed odio pretium dignissim. Vestibulum cursus velit nec rutrum condimentum. Aliquam erat volutpat. Nam iaculis consequat pretium. Vivamus non augue sed est iaculis mollis at non dolor. Mauris euismod, odio id aliquet pharetra, tortor nunc imperdiet quam, sit amet ultricies felis quam id mi. Donec id porta nibh, non tincidunt orci. Donec aliquet sapien quis velit hendrerit tincidunt. Quisque tincidunt turpis dapibus nisl pulvinar porttitor. Nullam volutpat, erat ac pharetra sagittis, nisl elit accumsan orci, vitae vulputate nisi orci quis turpis. Maecenas euismod tortor a faucibus tincidunt.
         </div>

         <div class="col-1">
         </div>

      </div>